{% extends 'main/base.html' %}

{% block 'title' %}Filmy | {{ block.super }}{% endblock %}

{% block content %}
      <h1>Filmy</h1>

      <div class="row">
        <form method="get" action="./">
        <div class="input-group mb-3">
            <input
              type="text"
              name="search"
              value="{{ request.GET.search }}"
              class="form-control"
              placeholder="..."
              aria-label="Hledat"
              aria-describedby="button-addon2"
            >
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hledat</button>
        </div>
        </form>
    </div>
    
    <div class="row">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn {% if not genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./">All</a>
            </li>
            {% for g in genres %}
            <li class="list-inline-item">
                <a class="btn {% if g.name == genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./?genre={{ g.name }}">{{ g.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function addLike(movieId) {
            // use fetch to send a POST request to the server
            fetch(`/add_like/${movieId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ movie_id: movieId })
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Network response was not ok");
                }
            }).then(data => {
                // update the likes count on the page
                const likesCountElement = document.getElementById(`likes-count-${movieId}`);
                likesCountElement.textContent = data.likes;
            }).catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
        }
    </script>

    <div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
    {% for movie in movies %}
        <div class="col">
            <div class="card h-100" style="cursor: pointer;" >
                <img class="card-img-top" src="{% if movie.main_picture %}{{movie.main_picture}}{% else %}//place-hold.it/200x250/{% endif %}" alt="Card image cap">
                <div class="card-body">
                    Likes <span id="likes-count-{{movie.id}}">{{ movie.likes|default:0 }}</span>
                    <a
                        href="javascript:void(0);"
                        class="btn btn-outline-secondary float-end"
                        onclick="addLike({{ movie.id }}); return false;"
                    >Add like</a>

                    <h5 class="card-title">{{movie.name}} ({{ movie.year}})</h5>
                    {% if movie.director %}<h6>{{ movie.director}}</h6>{% endif %}
                    
                    {% for genre in movie.genres.all %}
                    <span class="badge bg-primary">{{genre.name}}</span>
                    {% endfor %}
    
                    <p class="card-text ">{{ movie.description|truncatewords_html:10 }}</p>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'movie' movie.id %}" class="btn btn-outline-primary">Detaily</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>
          No movies found.😢
        </p>
    {% endfor %}
    </div>

{% endblock %}